 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/01gururvandana4.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 976px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 679px;
  margin: 140px auto 180px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 229px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -29px -55px 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 511px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 159px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 0 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 57.69% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 717px;
    margin-bottom: 95px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 88.4% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 566px;
    margin-bottom: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 402px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 338px;
    margin-top: 163px;
    margin-bottom: 110px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 373px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -214px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 653px;
}

.u-section-2 .u-group-1 {
  min-height: 493px;
  width: 936px;
  margin: 80px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  width: 717px;
  font-size: 3rem;
  margin: 53px auto 0;
}

.u-section-2 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 46px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: timesnewroman;
  font-size: 1.125rem;
  margin: 46px 64px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    min-height: 315px;
    margin-top: 93px;
    margin-bottom: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    width: 591px;
    margin-top: 26px;
  }

  .u-section-2 .u-line-1 {
    width: 47px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 553px;
    margin-top: 68px;
    margin-bottom: 68px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 453px;
  }

  .u-section-2 .u-line-1 {
    width: 36px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-group-1 {
    min-height: 587px;
    margin-top: 80px;
    margin-bottom: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 425px;
  }

  .u-section-2 .u-line-1 {
    width: 34px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-group-1 {
    min-height: 797px;
    margin-top: 61px;
    margin-bottom: 61px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 28px;
    transform-origin: right center 0;
  }

  .u-section-2 .u-text-2 {
    width: 268px;
    margin-left: 36px;
    margin-right: 36px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 80px auto 60px 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/10-1.JPG");
  min-height: 482px;
  background-position: 50% 50%;
}

.u-section-3 .u-shape-1 {
  width: 1080px;
  height: 422px;
  margin: 30px auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 628px;
  background-image: none;
}

.u-section-3 .u-image-2 {
  width: 476px;
  height: 714px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.45);
  object-position: 2.87% 50%;
  background-position: 2.87% 50%;
  margin: -143px 30px 56px auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 791px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  margin: 45px 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 38px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: timesnewroman;
  margin: 45px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 511px;
  }

  .u-section-3 .u-shape-1 {
    width: 891px;
    height: 451px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-3 .u-image-2 {
    width: 375px;
    height: 611px;
    position: relative;
    margin-right: 25px;
    margin-bottom: 139px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 639px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1488px;
  }

  .u-section-3 .u-shape-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 775px;
  }

  .u-section-3 .u-image-2 {
    width: 293px;
    height: 456px;
    margin-top: -82px;
    margin-right: 13px;
    margin-bottom: 400px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 775px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1959px;
  }

  .u-section-3 .u-shape-1 {
    width: 494px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-3 .u-image-2 {
    width: 446px;
    height: 588px;
    margin-top: -77px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 729px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 34px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-3 .u-image-1 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-1 {
    width: 308px;
    height: 260px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-3 .u-image-2 {
    width: 264px;
    height: 390px;
    margin-top: -70px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 840px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 28px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1151px;
}

.u-section-4 .u-group-1 {
  min-height: 240px;
  width: 936px;
  margin: 48px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin: 26px 110px 0 109px;
}

.u-section-4 .u-text-2 {
  width: 717px;
  margin: 27px auto 0;
}

.u-section-4 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 46px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 46px auto 115px 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 780px;
}

.u-section-4 .u-image-1 {
  width: 564px;
  height: 376px;
  margin: 0 -9px 0 auto;
}

.u-section-4 .u-shape-1 {
  height: 372px;
  width: 522px;
  margin: -340px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 564px;
  height: 376px;
  margin: -32px -4px 0;
}

.u-section-4 .u-shape-2 {
  height: 372px;
  width: 522px;
  margin: -344px 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 780px;
}

.u-section-4 .u-image-3 {
  width: 564px;
  height: 376px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-shape-3 {
  height: 372px;
  width: 522px;
  margin: -340px 0 0 auto;
}

.u-section-4 .u-image-4 {
  width: 564px;
  height: 376px;
  margin: -32px -9px 0 auto;
}

.u-section-4 .u-shape-4 {
  height: 372px;
  width: 522px;
  margin: -344px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-4 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    width: 591px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    width: 591px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-4 .u-image-1 {
    position: relative;
    width: 455px;
    height: 303px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    position: relative;
    width: 455px;
    margin-top: -267px;
  }

  .u-section-4 .u-image-2 {
    width: 455px;
    height: 303px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 455px;
    margin-top: -271px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-4 .u-image-3 {
    width: 430px;
    position: relative;
  }

  .u-section-4 .u-shape-3 {
    width: 430px;
  }

  .u-section-4 .u-image-4 {
    width: 455px;
    height: 303px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-4 {
    width: 455px;
    margin-top: -271px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-4 .u-text-1 {
    width: 453px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-4 .u-text-2 {
    width: 453px;
  }

  .u-section-4 .u-line-1 {
    width: 36px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-4 .u-image-1 {
    width: 345px;
    height: 230px;
  }

  .u-section-4 .u-shape-1 {
    width: 345px;
    margin-top: -194px;
  }

  .u-section-4 .u-image-2 {
    width: 345px;
    height: 230px;
  }

  .u-section-4 .u-shape-2 {
    width: 345px;
    margin-top: -198px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-4 .u-image-3 {
    width: 329px;
  }

  .u-section-4 .u-shape-3 {
    width: 330px;
  }

  .u-section-4 .u-image-4 {
    width: 345px;
    height: 230px;
  }

  .u-section-4 .u-shape-4 {
    width: 345px;
    margin-top: -198px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-4 .u-text-1 {
    width: 425px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-4 .u-text-2 {
    width: 425px;
  }

  .u-section-4 .u-line-1 {
    width: 34px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 740px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 740px;
  }

  .u-section-4 .u-image-3 {
    width: 309px;
  }

  .u-section-4 .u-shape-3 {
    width: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-4 .u-text-1 {
    width: 275px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 28px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: -191px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 227px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-top: -195px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 780px;
  }

  .u-section-4 .u-image-3 {
    width: 259px;
  }

  .u-section-4 .u-shape-3 {
    width: 259px;
    margin-top: -354px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 227px;
    margin-top: -18px;
  }

  .u-section-4 .u-shape-4 {
    width: 340px;
    margin-top: -209px;
    margin-right: -36px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1410px;
}

.u-section-5 .u-group-1 {
  min-height: 240px;
  width: 936px;
  margin: 46px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  width: 717px;
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-5 .u-line-1 {
  width: 57px;
  position: relative;
  height: 4px;
  transform-origin: left center 0;
  margin: 46px auto 25px;
}

.u-section-5 .u-shape-1 {
  height: 1028px;
  width: 1048px;
  margin: 20px auto 0 46px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: -987px auto 126px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/0H9B8183.JPG");
  min-height: 964px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/IMG-20211206-WA0024.jpg");
  min-height: 643px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/11damarau5.jpg");
  min-height: 321px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/05teentaal1.jpg");
  min-height: 321px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    width: 591px;
  }

  .u-section-5 .u-line-1 {
    width: 47px;
  }

  .u-section-5 .u-shape-1 {
    width: 864px;
    position: relative;
    margin-left: 38px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
    margin-top: 44px;
  }

  .u-section-5 .u-shape-1 {
    width: 662px;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2795px;
  }

  .u-section-5 .u-group-1 {
    min-height: 252px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: 425px;
    font-size: 2.25rem;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
    margin-top: 45px;
    margin-left: 253px;
  }

  .u-section-5 .u-shape-1 {
    height: 2299px;
    width: 470px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -2258px;
    margin-bottom: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2695px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    width: 28px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-1 {
    height: 2309px;
    width: 300px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -2268px;
    margin-bottom: 126px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 715px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 605px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-2 {
  font-family: Alegreya;
  font-size: 1.125rem;
  margin: 20px 0 55px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 1378px;
  background-image: none;
}

.u-section-6 .u-icon-2 {
  height: 117px;
  width: 118px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 0 34px;
}

.u-section-6 .u-text-4 {
  font-family: Alegreya;
  font-size: 1.125rem;
  margin: 19px 34px 55px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 1378px;
  background-image: none;
}

.u-section-6 .u-icon-3 {
  height: 102px;
  width: 102px;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 34px 0;
}

.u-section-6 .u-text-6 {
  font-family: Alegreya;
  margin: 20px 34px 55px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-icon-1 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    font-style: normal;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 605px;
  }

  .u-section-6 .u-icon-2 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    font-style: normal;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 605px;
  }

  .u-section-6 .u-icon-3 {
    height: 53px;
    width: 53px;
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    font-style: normal;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-icon-1 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-icon-2 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-icon-3 {
    height: 40px;
    width: 40px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-6 .u-icon-1 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-icon-1 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-icon-2 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-icon-3 {
    height: 32px;
    width: 32px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }
}@font-face {
  font-family: 'timesnewroman';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/timesnewroman.ttf);
}